<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Registro e Inicio de Sesión</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='python.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <!-- Contenedor Principal -->
    <section class="login-page">
        <!-- Formularios de Registro e Inicio de Sesión -->
        <section class="form">
            <!-- Formulario de Registro -->
            <form class="register-form" id="register-form" style="display:none;">
                <h2>Registro</h2>
                <div class="form">
                    <input type="text" id="name" placeholder="" required/>   
                    <label for="name">Nombre de Usuario</label>     
                </div>     
                <div class="form">
                <input type="password" id="password" placeholder="" required/>   
                <label for="password">Contraseña</label>
 
                </div> 

                <div class="form">
                <input type="email" id="email" placeholder="" pattern="^[a-zA-Z0-9._%+-]+@(gmail\.com|outlook\.com)$" title="Ingresa un correo de Gmail o Outlook válido." required/>   
                <label for="email">Correo Electrónico</label>
            </div>                   
                <input id="phone" type="tel" name="phone" placeholder="Número de Teléfono"/>
                <div class="alert alert-info" style="display: none;"></div>
                <button class="register" type="button" id="create_account_btn">Crear Cuenta</button>
                <button class="randompassword" type="button" id="generate_password_btn">Generar Contraseña Segura</button>
                <button class="google-btn">
                    <div class="google-icon"></div>
                    <span>Continuar con Google</span>
                </button>         
                <p class="message">¿Ya estás registrado? <a href="#" onclick="showLoginForm()">Iniciar sesión</a></p>
            </form>        
            <!-- Formulario de Inicio de Sesión -->
            <form class="login-form" id="login-form">
                <h2>Login</h2>
                <div class="form">
                    <input type="text" name="username" placeholder="" required/> 
                    <label for="username">Nombre de Usuario</label>     
                </div>     
                <div class="form">
                    <input type="password" name="password" placeholder="" required/>    
                    <label for="login-password">Contraseña</label>       
                </div>    
                <button class="login" type="submit">                        
                    <span class="anim-horizontal"></span>
                    <span class="anim-vertical"></span>
                Iniciar Sesión
                </button>   
                <button class="google-btn">
                    <div class="google-icon"></div>
                    <span>Continuar con Google</span>
                </button>
                <p class="message">¿No estás registrado? <a href="#" onclick="showRegisterForm()">Crea tu cuenta</a></p>
                <p><a class="message2" href="{{ url_for('forgot_account') }}">¿Olvidaste tu contraseña?</a></p>
            </form>
        </section>
    </section>   

    <!-- Scripts de Funcionalidad -->
    <script>
// Inicialización del campo de entrada del número de teléfono
const phoneInputField = document.querySelector("#phone");
const phoneInput = window.intlTelInput(phoneInputField, {
  utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
  preferredCountries: ["ve", "es", "us"],
});

// Referencia al elemento de información
const info = document.querySelector(".alert-info");

// Función para procesar el número de teléfono
function process(event) {
  event.preventDefault();
  const phoneNumber = phoneInput.getNumber();
  info.style.display = "block";
  info.innerHTML = `Número de teléfono en formato E.164: <strong>${phoneNumber}</strong>`;
}

// Función para mostrar notificaciones
function showNotification(message, type) {
  Swal.fire({
    icon: type,
    title: type === 'error' ? 'Error' : 'Éxito',
    text: message,
    timer: 3000
  });
}

// Funciones para alternar entre formularios
function showRegisterForm() {
  $('.login-form').addClass('fade-out').hide();
  $('.register-form').removeClass('fade-out').addClass('fade-in').fadeIn();
}

function showLoginForm() {
  $('.register-form').addClass('fade-out').hide();
  $('.login-form').removeClass('fade-out').addClass('fade-in').fadeIn();
}

// Evento para generar contraseña segura
$('#generate_password_btn').on('click', function() {
  $.post('/generate-password', function(data) {
    $('#password').val(data.password).attr('type', 'text');
    setTimeout(() => $('#password').attr('type', 'password'), 10000);
    showNotification('Contraseña generada con éxito', 'success');
  });
});

// Evento para crear cuenta
$('#create_account_btn').on('click', function() {
  const name = $('#name').val().trim();
  const password = $('#password').val().trim();
  const phone = phoneInput.getNumber();
  const email = $('#email').val().trim();

  if (!phoneInput.isValidNumber()) {
    showNotification('Por favor, ingresa un número de teléfono válido.', 'error');
    return;
  }

  $.post('/register', { name, password, phone, email }, function(data) {
    showNotification(data.message, 'success');
    showLoginForm();
  }).fail(function(jqXHR) {
    showNotification(jqXHR.responseJSON.error, 'error');
  });
});

// Evento para iniciar sesión
$('#login-form').on('submit', function(event) {
    event.preventDefault();
    const username = $('input[name="username"]').val().trim();
    const password = $('input[name="password"]').val().trim();
    $.ajax({
        url: '/login',
        type: 'POST',
        data: { username, password },
        success: function(data) {
            Swal.fire({
                icon: 'success',
                title: 'Éxito',
                text: data.message,
                timer: 2000, // 2 segundos
                showConfirmButton: false
            }).then(() => {
                window.location.href = '/login_page'; // Redirige a la página login_page
            });
        },
        error: function(jqXHR) {
            showNotification(jqXHR.responseJSON.error, 'error');
        }
    });
});

    </script>
    
</body>
</html>
